<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="bower_components/iron-icons/iron-icons.html">

<link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
<!--

Left Nav + View

 -->
<dom-module id="xapp">

  <link rel="import" type="css" href="xapp.css">

  <template>

    <paper-drawer-panel id="drawerPanel" responsive-width="1280px">

      <div class="nav" drawer>
        <!-- Nav Content -->
      </div>


      <paper-header-panel main mode="waterfall">

        <!-- Main Toolbar -->
        <paper-toolbar>
          <paper-icon-button icon="menu" on-tap="togglePanel"></paper-icon-button>
          <!--paper-icon-button icon="menu" on-tap="menuAction"></paper-icon-button-->
          <div class="title"><b>Beehive portal | v0.1</b></div>
          <paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <!--script src="bower_components/Chart.js/Chart.js"></script>
          <canvas id="myLineChart" width="400" height="400"></canvas>
          <script>
          // Get the context of the canvas element we want to select
        var ctx = document.getElementById("myLineChart").getContext("2d");

        var data = {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [
              {
                  label: "My First dataset",
                  fillColor: "rgba(220,220,220,0.2)",
                  strokeColor: "rgba(220,220,220,1)",
                  pointColor: "rgba(220,220,220,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(220,220,220,1)",
                  data: [65, 59, 80, 81, 56, 55, 40]
              },
              {
                  label: "My Second dataset",
                  fillColor: "rgba(151,187,205,0.2)",
                  strokeColor: "rgba(151,187,205,1)",
                  pointColor: "rgba(151,187,205,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(151,187,205,1)",
                  data: [28, 48, 40, 19, 86, 27, 90]
              }
          ]
        };
        var myLineChart = new Chart(ctx).Line(data, {
            bezierCurve: true
        });

      </script-->
        </div>

      </paper-header-panel>

    </paper-drawer-panel>

  </template>

  <script>

    Polymer({

      is: 'x-app'

    });

  </script>

</dom-module>
