<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html ng-app="myApp" ng-controller="LineCtrl">
  <head>

	<title>Beehive Portal</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="bower_components/Chart.js/Chart.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

	<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

  </head>
  <body>
    <div>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h1>Hello, {{ yourName }}!</h1>


	  <canvas id="line" class="chart chart-line"
	  chart-data="data"
	  chart-labels="labels"
	  chart-legend="true"
	  chart-series="series"
	  chart-click="onClick" >

    </div>

	<div>
	<h1>My Data</h1>
	{{data}}
  <h1>My Labels</h1>
	{{labels}}
  <h1>My Series</h1>
	{{series}}
	</div>
  <script>
  angular.module("myApp", ["chart.js"])
  .controller("LineCtrl", function ($scope) {

    //$scope.labels = ["January", "February", "March", "April", "May", "June", "July"];
    var chart_labels, chart_series, chart_data ;
    $.getJSON( "BeehivesData_labels.json", function( labels ) {
      console.log( labels );
      chart_labels = labels ;

      $.getJSON( "BeehivesData_series.json", function( series ) {
        console.log( series );
        chart_series = series ;

        $.getJSON( "BeehivesData_data.json", function( data ) {
          console.log( data );
          chart_data = data ;

          $scope.labels = chart_labels ;
          $scope.series = chart_series ;
          $scope.data = chart_data ;
        });
      });
    });

    $scope.onClick = function (points, evt) {
      console.log(points, evt);
    };

    setInterval(function(){
      $.getJSON( "BeehivesData_labels.json", function( labels ) {
        console.log( labels );
        chart_labels = labels ;

        $.getJSON( "BeehivesData_series.json", function( series ) {
          console.log( series );
          chart_series = series ;

          $.getJSON( "BeehivesData_data.json", function( data ) {
            console.log( data );
            chart_data = data ;

            $scope.labels = chart_labels ;
            $scope.series = chart_series ;
            $scope.data = chart_data ;
          });
        });
      });
    }, 3000);

  });
  // angular.module("myApp", ["chart.js"])
  //   // Optional configuration
  //   .config(['ChartJsProvider', function (ChartJsProvider) {
  //     // Configure all charts
  //     ChartJsProvider.setOptions({
  //       colours: ['#FF5252', '#FF8A80'],
  //       responsive: false
  //     });
  //     // Configure all line charts
  //     ChartJsProvider.setOptions('Line', {
  //       datasetFill: false
  //     });
  //   }])
  //   .controller("LineCtrl", ['$scope', '$timeout', function ($scope, $timeout) {
  //
  //   $scope.labels = ["January", "February", "March", "April", "May", "June", "July"];
  //   $scope.series = ['Series A', 'Series B'];
  //   $scope.data = [
  //     [65, 59, 80, 81, 56, 55, 40],
  //     [28, 48, 40, 19, 86, 27, 90]
  //   ];
  //   $scope.onClick = function (points, evt) {
  //     console.log(points, evt);
  //   };
  //
  //   // Simulate async data update
  //   $timeout(function () {
  //     $scope.data = [
  //       [28, 48, 40, 19, 86, 27, 90],
  //       [65, 59, 80, 81, 56, 55, 40]
  //     ];
  //   }, 3000);
  // }]);
  </script>
</body>
</html>
